<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Attendance" %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Attendance</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Students", students_path  %></li>
            <li><%= link_to "Mark Attendance", subjects_path  %></li>
            <li>
            <div class="btn-group">
              <button type="button" class="subject_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Daily Absence <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% Subject.all.each do |subject| %>
                  <li><%= link_to "#{subject.name}", attends_path(subject_id: subject.id) %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </ul>
        </div>
        <!-- Split button -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
          <% if current_user %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clear Database <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% if Student.last %>
              <li><%= link_to "Delete Students", student_path(Student.last), method: 'delete', data: { confirm: "Are You Sure? This is irreversible" } %></li>
              <% end %>

              <% if Subject.last %>
              <li><%= link_to "Delete Subjects", subjects_path(Subject.last), method: 'delete', data: { confirm: "Are You sure? This is irreversible!" } %></li>
              <% end %>

              <% if Attend.last %>
              <li><%= link_to "Delete Attendances", attends_path(Attend.last), method: 'delete', data: { confirm: "Are You sure? This is irreversible!" } %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      </div><!--/row-->

      <footer>
        <% if current_user %>
        <p>Login ID: dbibms@db.com, password: dbibms,<br/> email_account: dbibmslibrary@bulletmail.org, password: dbit@123user<br/>Heroku Credentials: dbibmslibrary@bulletmail.org, password: dbit123@user</p>
        <% end %>
      </footer>

    </div> <!-- /container -->
    </ul>
  </div>
  </body>
</html>
